meta {
  -theme-interface-style: dark;
  -theme-vibrancy: none;
  -theme-accent-color: auto; }
  meta.window {
    border-color: rgba(255, 255, 255, 0.1); }
  meta.titlebar {
    color: #b7c2cc;
    border-color: rgba(0, 0, 0, 0.6); }
  meta.button {
    background: linear-gradient(#4e5256, #3d4043);
    border: linear-gradient(#292b2e, #1f2123);
    color: white; }
    meta.button.highlighted {
      background: linear-gradient(#666b70, #52575b);
      color: white; }
    meta.button.selected {
      color: white; }
    meta.button.highlighted.selected {
      color: white; }
  meta.textfield {
    background-color: #1f2123;
    border-color: #383b3e; }
    meta.textfield.highlighted {
      background-color: #181a1b;
      border-color: #383b3e; }
  meta.document {
    background-color: #2B2B2B;
    border-color: #75715E; }
    meta.document.button {
      background: linear-gradient(#3d4043, #333638);
      border: linear-gradient(#1b1c1d, #131415); }
      meta.document.button.disabled {
        background: linear-gradient(rgba(61, 63, 67, 0.3), rgba(51, 53, 56, 0.3)); }
      meta.document.button.highlighted {
        background: linear-gradient(#52575b, #494d50); }
    meta.document.textfield {
      background-color: #181a1b;
      border-color: #2e3033; }
      meta.document.textfield.highlighted {
        background-color: #181a1b;
        border-color: #2e3033; }
  meta.text {
    color: #E6E1DC; }
    meta.text.invisible {
      color: #404040; }
    meta.text.selected {
      background-color: #545D74; }
  meta.cursor {
    background-color: #333435; }
  meta.indentguide {
    border-color: rgba(116, 120, 129, 0.2); }
  meta.gutter {
    background-color: #45433E;
    color: #858179; }
    meta.gutter.selected {
      background-color: #3B3935;
      color: #BFBBB0; }

comment {
  font-style: italic;
  color: #BC9458; }

bracket {
  color: #E6E1DC; }

operator {
  color: #CC7833; }

invalid {
  background-color: #990000;
  color: #FFFFFF; }

value.number {
  color: #A5C261; }
value.boolean, value.null, value.symbol {
  color: #6D9CBE; }

identifier.argument.name {
  color: #E6E1DC; }
identifier.constant.name {
  color: #DA4939; }
identifier.variable {
  color: #D0D0FF; }
identifier.core.method {
  color: #CC7833; }
identifier.method.name {
  color: #FFC66D; }
identifier.type.superclass {
  color: #DA4939; }
identifier.module {
  color: #DA4939;
  color: #E6E1DC; }
identifier.class.type.name {
  color: #E6E1DC; }

definition.class-method {
  color: #FFC66D; }

keyword.construct {
  color: #CC7833; }
keyword.self {
  color: #6D9CBE; }

string {
  color: #A5C261; }
  string-template.delimiter {
    color: #A5C261; }
  string-template-block {
    color: #519F50; }
  string.regex {
    color: #519F50; }

collection.tuple {
  color: #E6E1DC; }

tag {
  color: #FFC66D; }
  tag.attribute.value {
    color: #A5C261; }
  tag.framework {
    color: #E6E1DC; }

style.selector {
  color: #FFC66D; }
style.attribute.name {
  color: #6D9CBE; }
style.value {
  color: #E6E1DC; }
  style.value.function {
    color: #DA4939; }
